.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
}

body {
    padding: 0;
    margin: 0;
}

canvas {
    height: 100vh;
    width: 100vw;
}

canvas:focus-visible {
    outline: none;
}

.stream-play {
    position: absolute;
    bottom: 0;
    left: 0;
}